<!DOCTYPE html>
<html>
<head>
  <title>Perforchestor</title>
  <%= stylesheet_link_tag    "application", "ui-lightness/jquery-ui-1.8.20.custom", :media => "all" %>
  <%= javascript_include_tag "application", "jquery-ui-1.8.20.custom.min" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
          <%= link_to "Home Page", '/', id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <li class="button1"><%= link_to "The Results page", results_path %></li>
            <li class="button2"><%= link_to "Another Page", '#' %></li>
            <li class="button3"><%= link_to "Some Page", '#' %></li>
            <li class="button4"><%= link_to "Contact Us", '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
  <div class="container">
    <%= yield %>
  </div>
  
  <footer>
    
  </footer>  
</body>
</html>
